body{
    font-size: 12px;
    font-family: arial,verdana;
    color: #666;
}
*{
    padding: 0;
    margin: 0;
    list-style: none;
}
/*#container{
	width: 70%;
	top: 51px;
}
*/
#controller{
    width: 100px;
    float: right;
    margin-top:50px;
    margin-right: 4%;
    display: block;
    text-decoration: none;
    border: 5px double;
    color: #ffffff;
    background-color: #484848;
    text-align: center;
    padding: 15px 0;
    position: relative;
    -moz-border-radius: 25px;
    border-radius: 25px;
    -webkit-box-shadow: 2px 5px 0 0 rgba(72,72,72,1);
    text-shadow: 3px 3px 1px rgba(0,0,0,0.5);
}
#test{
    margin-top: 20px;
}
.button{
    width: 75px;
    height: 30px;
    color: #484848;
    background: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 13px;
    margin-top: 10px;
    margin-left: 10px;
}
span{color: white;}

input[type=range] {
    -webkit-appearance: none;
    width: 150px;
    border-radius: 10px; /*这个属性设置使填充进度条时的图形为圆角*/
    background: -webkit-linear-gradient(#FCF9F2, #FCF9F2) no-repeat;
    background-size: 0% 100%;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    height: 15px;
    border-radius: 10px; /*将轨道设为圆角的*/
    box-shadow: 0 1px 1px #def3f8, inset 0 .125em .125em #0d1112; /*轨道内置阴影效果*/
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 25px;
    width: 25px;
    margin-top: -5px; /*使滑块超出轨道部分的偏移量相等*/
    background: #ffffff;
    border-radius: 50%; /*外观设置为圆形*/
    border: solid 0.125em rgba(205, 224, 230, 0.5); /*设置边框*/
    box-shadow: 0 .125em .125em #3b4547; /*添加底部阴影*/
}

input[type=range]::-moz-range-track {
    height: 15px;
    border-radius: 10px; /*将轨道设为圆角的*/
    box-shadow: 0 1px 1px #def3f8, inset 0 .125em .125em #0d1112; /*轨道内置阴影效果*/
}

input[type=range]::-moz-range-thumb {
    appearance: none;
    height: 25px;
    width: 25px;
    margin-top: -5px; /*使滑块超出轨道部分的偏移量相等*/
    background: #ffffff;
    border-radius: 50%; /*外观设置为圆形*/
    border: solid 0.125em rgba(205, 224, 230, 0.5); /*设置边框*/
    box-shadow: 0 .125em .125em #3b4547; /*添加底部阴影*/
}

input[type=range]::-moz-range-progress {
    background: linear-gradient(#FCF9F2, #FCF9F2) no-repeat;
    height: 13px;
    border-radius: 10px;
}

input[type=range]::-ms-track {
    height: 25px;
    border-radius: 10px;
    box-shadow: 0 1px 1px #def3f8, inset 0 .125em .125em #0d1112;
    border-color: transparent; /*去除原有边框*/
    color: transparent; /*去除轨道内的竖线*/
}

input[type=range]::-ms-thumb {
    border: solid 0.125em rgba(205, 224, 230, 0.5);
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background: #ffffff;
    margin-top: -5px;
    box-shadow: 0 .125em .125em #3b4547;
}

input[type=range]::-ms-fill-lower {
    /*进度条已填充的部分*/
    height: 22px;
    border-radius: 10px;
    background: linear-gradient(#FCF9F2, #FCF9F2) no-repeat;
}

input[type=range]::-ms-fill-upper {
    /*进度条未填充的部分*/
    height: 22px;
    border-radius: 10px;
    background: #ffffff;
}

input[type=range]:focus::-ms-fill-lower {
    background: linear-gradient(#FCF9F2, #FCF9F2) no-repeat;
}

input[type=range]:focus::-ms-fill-upper {
    background: #ffffff;
}

.info {
    border: solid 1px silver;
}
div.info-top {
    position: relative;
    background: none repeat scroll 0 0 #F9F9F9;
    border-bottom: 1px solid #CCC;
    border-radius: 5px 5px 0 0;
}
div.info-top div {
    display: inline-block;
    color: #333333;
    font-size: 14px;
    font-weight: bold;
    line-height: 31px;
    padding: 0 10px;
}
div.info-top img {
    position: absolute;
    top: 10px;
    right: 10px;
    transition-duration: 0.25s;
}
div.info-top img:hover {
    box-shadow: 0px 0px 5px #000;
}
div.info-middle {
    font-size: 12px;
    padding: 6px;
    line-height: 20px;
}
div.info-bottom {
    height: 0px;
    width: 100%;
    clear: both;
    text-align: center;
}
div.info-bottom img {
    position: relative;
    z-index: 104;
}
span {
    margin-left: 5px;
    font-size: 11px;
}
.info-middle img {
    float: left;
    margin-right: 6px;
}
